
@font-face {
  font-family: Poppins-Regular;
  src: url(../../assets/fonts/Poppins/Poppins-Regular.ttf);
}

@font-face {
  font-family: Poppins-Medium;
  src: url(../../assets/fonts/Poppins/Poppins-Medium.ttf);
}


.tooltip {
  color: #fff !important;
  background-color: #B51D44 !important;
}

.event-card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 250px;
  height: 250px;
  padding: 25px;
  border: 2px solid #821B47;
  border-radius: 5px;
  overflow: auto;

  /* box-shadow: 1px 1px rgb(215, 215, 215); */
}

/* .event-card:active {
opacity: 1.0;
transition: 0.9s;
transform: scale(1.1);
} */

.event-card::-webkit-scrollbar {
width: 0px;
}

.event-card__title {
  text-align: center;
  margin-bottom: 20px;
  font-family: Poppins-Medium;
  font-size: 1rem;
}

.event-card__description {
  font-family: Poppins-Regular;
  font-size: 1rem;
  text-align: center;
  margin-bottom: 25px;
}

.event-card__connect-link {
  font-family: Poppins-Medium;
  font-size: 1.125rem;
  color: var(--color-red);
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

/* When you hover: */
.event-card__connect-link:hover {
  opacity: .9;
  transition: 0.5s;
  transform: scale(0.9);
}

.event-card__connect-link:active {
color: darkred;
}

.slide-container {
width: 100%;
color: #821B47;
}

@media screen and (min-width: 992px) {
  .banner {
    height: 720px;
    background-image: url(../../assets/images//banner-desktop.png);
  }

  .events-box {
    
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 50px 0;
  }

  .event-card {
    width: 220px;
    height: 220px;
  }
}