/* Scrollbar: */
::-webkit-scrollbar {
  width: 15px;
}


::-webkit-scrollbar-track {
  border-radius: 5px;
}
 
::-webkit-scrollbar-thumb {
  background: #B51D44; 
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: #b30000; 
}

.events-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-top: 50px;
    /* padding: 40px 0 20px 0; */
  }

  /* Swiper: */
  .swiper {
    width: 100%;
    height: 100%;
    padding-bottom: 45px ;
    /* border: 1px solid green; */
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    display: flex !important;
    justify-content: space-around;
    align-items: center;
    /* border: 1px solid red; */
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* border: 1px solid red; */
  }
  
  .swiper-pagination-bullet{
    background-color: #B51D44;
  }
  
  /* --color-blue-red: #511948; */
  
  @media screen and (min-width: 992px) {
    
  
    .events-box {
      flex-direction: row;
      flex-wrap: wrap;
      margin: 50px 0;
    }
  }
  